<%- include("header") -%>

<h2>This is about page</h2>

<p>Templating in EJS:</p>
<p>Creat the header.ejs and footer.ejs</p>
<p>Insert in index.ejs or other page examplebr <br>
  See command below which pin the header.ejs , and footer.ejs to our file</p>
<p>< %- include("header") -% > <br>Content of webpage <br>
  < %- include("footer") -% ></p>

<%- include("footer") -%>
